<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.name %></h3>
  </div>
  <div class="panel-body">
    <% if @user.image? %>
      　<%= image_tag @user.image.thumb.url(options = { size: 50 }) %>
      <% else %>
        <img class="media-object img-rounded" src="<%= gravatar_url(@user, options = { size: 50 }) %>" alt="">
      <% end %>
  </div>
  
  <a class="btn btn-block btn-primary" href="/" >投稿する</a>
</div>